*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{  
    background-image: url(../images/astronauta.avif);
    background-repeat: no-repeat;
    background-position:left;
    background-size: contain;

   
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
}

.formulario{
    display:flex;
    justify-content: center;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width:500px;
    height:400px;
   
  
}

.formulario h2{
    position:absolute;
    color:brown;
    margin-top:30px;
    font-size: 40px;
    text-shadow: 2px 1px 1px #ffffff;
}

form{
    margin-top:30px;
}

.user{
    margin-top: 90px;
}

.pass{
    margin-top: 25px;
}

#username,#password{
    outline:0;
    border:solid 1.5px brown;
    color:brown;
    border-radius:50px;
    width:330px;
    height:33px;
    font-size:15px;
    padding-left:33px;
}

.user img, .pass img{
    position: absolute;
    margin-left:10px;
    margin-top:7px;
    height:17px;
    width: 17px;
}

::-webkit-input-placeholder{
    color: brown;
}

#eye{
    position:absolute;
    color:brown;
    font-size:18px;
    margin-top:7px;
    margin-left: -30px;
}

.check{
    margin-top:12px;
    margin-left:10px;
    font-size:12px;
    font-weight: bold;
    color:brown;
}

.check label{
    margin-left: 15px;
}

#checkbox{
    position: absolute;
    margin-left: -15px;
    height:12px;
   
}

.button{
    position: absolute;
    background-color:brown;
    border-radius:50px;
    font-size: 17px;
    font-weight: bold;
    color:#ffffff;
    padding:12px;
    text-decoration: none;
    margin-left: 125px;
    margin-top: 23px;
}

.button:hover{
    background-color:rgb(208, 81, 27);
}

.forgot{
    margin-top: 75px;
}

.forgot a:hover{
    color:rgb(208, 81, 27);
    
}

.forgot a{
    font-size:11px;
    font-weight: bold;
    text-decoration: none;
    color:brown;
    margin-left: 110px;
}

.copyright{
    height:auto;
    position:absolute;
    font-size:16px;
    color:brown;
    margin-top:auto;
}

.copyright a{
    color:brown;
}

.copyright i{
    font-size:10px;
}

.copyright a:hover{
    color:rgb(208, 81, 27);


}


                                 /*RESPONSIVIDADE*/

                                /*2560px*/
 @media(max-width:2560px) {
    .copyright{
        margin-top:600px;
        font-size:20px;

    }  


 }                               



                                 /*1920PX*/ 
@media(max-width:1920px){
    .copyright{
        margin-top:570px;
    }  
} 


                                /*1440PX*/ 

@media(max-width:1440px){

    .formulario{
        margin-left:350px;

    }
    .copyright{
        margin-top:610px;
        margin-left:-200px;
        font-size:20px;
    }
}



                                /*1024PX*/ 

@media(max-width:1024px){

    .formulario{
        margin-top:120px;
        margin-right:-150px;
    }
    .copyright{
        margin-top:525px;
    }
}




                                /*768PX*/ 


@media(max-width:768px){
    body{
        background-position:center;
        background-size:cover;
    }

   .formulario{
    margin-left:-140px;
    width:350px;
    height:500px;
   }

   .check{
    margin-left:110px;
   }

   .button{
    margin-top:50px;
   }

   .forgot{
    margin-top:240px;
   
}

.copyright{
    margin-top:590px;
    margin-left:0px;
}


}




                                /*425PX*/ 

@media(min-width:425px){

    .button{
        margin-top:10px;
        margin-left:135px;
    }

    

   
  }




                                /*375PX*/ 

@media(max-width:375px){
    .copyright{
        margin-top:540px;
    }
}



                                /*320PX*/
@media(max-width:320px){

.formulario{
        max-width:300px;
        height:360px;

    }

    #username,#password{
        width:270px;
    }

    .check{
        margin-left:80px;
    }

    .button{
        margin-top:10px;
        margin-left:105px;
    }


    .forgot{
        margin-top:170px;
        margin-left:-40px;
    }


    .copyright{
        margin-top:520px;
    }

}


    

  








  